$width: 1192px;

$site-fonts: "Roboto", Arial, sans-serif;
$text-color-black: #000;
$header-footer-bg:#6B6B6B;
$text-color-333: #333;
$site-bg-color: #EBEBEB;
$white-color: #fff;
$brands-bg-color: #D3D3D3;
$subimg-color: #777777;

$main-font-size: 1.5rem;
$main-line-height: 2.4rem;