.addition{
    padding: 8rem 0;
    background-color: $white-color;
    &__container{
    @include container($width);
    padding: 1.8rem 0.8rem 0.725rem;
    }
    &__title{
        font-size: 3.2rem;
        line-height: 3.6rem;
        margin-bottom: 4.1rem;
        color: $text-color-333;
    }
    &__list{
        display: flex;
        // align-items: center;
    }
    &__item{
        width: 298px;
        padding: 0 2.8rem .725rem 2rem;
    }
    &__item--img{
        margin-bottom: 3rem;
    }
    &__item--title{
        font-size: 1.8rem;
        margin-bottom: 1.3rem;
        color: $text-color-333;
    }
    &__item--text{
        font-size: 1.5rem;
        color: $text-color-333;
    }
}