.features{
    padding: 5rem 0;
    background-color: #fff;
    &__container{
        @include container($width);
    }
    &__first--wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__info{
        width: 576px;
        padding: 6.8rem 3.6rem 5.8rem 2rem;
    }
    &__info--title{
        font-size: 3.2rem;
        line-height: 3.6rem;
        margin-bottom: 1.4rem;
        color: $text-color-black;
    }
    &__info--text{
        font-size:$main-font-size;
    }
    &__img--wrapper{
        width: 576px;
        text-align: center;
    }
    &__img{
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 2rem;
        box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.2);
    }
    &__img--text{
        font-size: 1.2rem;
        line-height: 2.1rem;
        color: $subimg-color;
    }
    &__second--wrapper{
        padding: 1.5rem 0 2.6rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}